.slider{
  height: 50vh;
  width: 100%;
  background: #7f8c8c;
  position: relative;
}

.slider-list{
  height: 100%;
}

.slider__button{
  position: absolute;
  background: none;
  color: white;
  background: lighten($color2, 5%);
  border-radius: 10%;
  font-weight: 900;
  border: none;
  font-size: 4em;
  transition: 0.5s;
  opacity: 0.7;
  padding: 0 10px;
  &:hover{
    opacity: 1;
    color: $color1;
  }
}

.slider__prev{
  left: 0px;
  top: 40%;
}

.slider__next{
  right: 0px;
  top: 40%;
}

.slider-list__item{
  display: none;
  height: 100%;
}

.slider-list__item--visible{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-list__title{
  font-size: 3em;
  background: lighten($color2, 5%);
  color: white;
  font-weight: 900;
  padding: 10px 20px;
  border-radius: 10px;
}

.slider-list__subtitle{
  font-size: 1.2em;
  color: white;
  width: 85%;
  text-align: center;
  background: lighten(black, 30%);
  border-radius: 20px;
  margin-top: 15px;
  padding: 5px 10px;
}