@import "variables";
@import "partials/normalize";

@import 'bootstrap/bootstrap';

@import "partials/header";
@import "partials/slider";
@import "partials/intro";
@import "partials/services";
@import "partials/about";
@import "partials/footer";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #eeeeee;
}

